.container {
  margin: 0 auto;
  padding: 0 2em;
  max-width: var(--max-width);
}

.text-left {
  text-align: left;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, 1.2em);
}

.split {
  display: flex;
  flex-direction: column;
 

  @media(min-width: 45em)  {
    flex-direction: row;
  }
}

.split > * + * {
  margin: var(--flow-split, 3em) 0 0 0;

  @media(min-width: 45em)  {
    margin: 0 0 0 var(--flow-split, 3em);
  }
}

.split > * {
  flex-basis: 100%;
}
