.footer-nav {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4em;

  .logo {
    grid-column: 1 / -1;
  }

  .info {
    display: flex;
    align-items: start;
  }

  .info > * + * {
    margin-left: 1.5em;
  }

  .contact {
    display: grid;
    gap: 1em;

    @media (min-width: 62.5em) {
      grid-template-columns: 1fr max-content;
      gap: 4em;
    }
  }

  .info-nav {
    display: grid;
    gap: 3em;

    @media (min-width: 45em) {
      grid-template-columns: repeat(2, 1fr);
      justify-content: end;
    }

    @media (min-width: 62.5em) {
      grid-template-columns: repeat(3, 1fr);
      gap: 6em;
    }
  }

  .info-nav a:hover,
  .info-nav a:focus {
    font-weight: var(--fw-700);
  }

  @media (min-width: 45em) {
    grid-template-columns: repeat(2, 1fr);
    gap: 3em 9em;
  }
}

.footer-socials {
  display: flex;
  justify-content: center;

  & > * + * {
    margin-left: 1em;
  }

  a {
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--clr-neutral-100);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a:hover,
  a:focus {
    color: var(--clr-accent-300);
    border-color: currentColor;
  }
}
