.primary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 2rem;

    @media (min-width: 45em) {
      height: 3rem;
    }
  }

  ul {
    display: flex;
  }

  ul > * + * {
    margin-left: 1.5em;

    @media (min-width: 45em) {
      margin-left: 2em;
    }
  }

  ul a:hover,
  ul a:focus {
    font-weight: var(--fw-700);
    border-bottom: 1px solid currentColor;
  }
}
