*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

blockquote,
figure,
ul[class],
ol[class],
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button {
    font: inherit;
}

a {
    display: inline-block;
    color: var(--clr-neutral-100);
    text-decoration: none;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1.6;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-100);
    text-align: center;
}


