:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-accent: "Raleway", sans-serif;

  --clr-primary-200: hsl(219, 30%, 18%);
  --clr-primary-300: hsl(217, 28%, 15%);
  --clr-primary-400: hsl(218, 28%, 13%);
  --clr-primary-500: hsl(216, 53%, 9%);

  --clr-accent-300: hsl(176, 68%, 64%);
  --clr-accent-400: hsl(198, 60%, 50%);
  --clr-accent-500: hsl(0, 100%, 63%);

  --clr-neutral-100: hsl(0, 0%, 100%);

  --fs-300: 0.7rem;
  --fs-400: 0.875rem;
  --fs-500: 1.15rem;
  --fs-700: 1.5rem;

  --fw-400: 400;
  --fw-700: 700;

  --cta-gradient: linear-gradient(
    to right,
    var(--clr-accent-300),
    var(--clr-accent-400)
  );

  --radius: 7px;

  @media(min-width: 45em) {
    --fs-700: 2.5rem;
  }
}
